/*
:root {
	background: #f6f6f6;
	color: #1C1C1C;
}

@media (prefers-color-scheme: dark) {
	:root {
		background: #1C1C1C;
		color: #f6f6f6;
	}
	input[type=image] {
		filter: invert(100%);
	}
}
*/




/* Forms */
/*
label::after {
	content: ':';
}

label,
input {
	width: 100vw;
	max-width: 100%;
	display: block;
}

input {
	margin-bottom: .5rem;
	padding: .3rem;
}

input[type=submit],
button[type=submit],
#submit {
	height: 2rem;
}




*/

main.container {
	padding-top: 2rem;
}

form h1 {
	margin-bottom: 2rem;
}

ul.row {
	list-style: none;
	padding: 0;
}
ul.row li a.stretched-link {
	text-decoration: none;
}
